body {
    background-color: #f8f9fa; /* Color de fondo */
}

.card {
    border: 1px solid #dee2e6; /* Borde de las tarjetas */
}
.container{
    padding-left:0% ;
    padding-right: 0%;
    background-color: #FFE97D;
}
.i-phone-13-14-3,
.i-phone-13-14-3 * {
    box-sizing: border-box;
}

.i-phone-13-14-3 {
    background: #ffffff;
    height: 844px;
    position: relative;
    overflow: hidden;
}

.rectangle-9 {
    background: #ffe97d;
    width: 390px;
    height: 454px;
    position: absolute;
    left: 0px;
    top: 390px;
}

.rectangle-10 {
    background: #fff2af;
    border-radius: 35px;
    width: 298px;
    height: 198px;
    position: absolute;
    left: 50px;
    top: 502px;
}

.promos {
    color: #000000;
    text-align: left;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 21px;
    top: 446px;
    width: 197px;
    height: 56px;
}

._2-x-1 {
    color: #ff0707;
    text-align: left;
    font-family: 'IstokWeb-Bold', sans-serif;
    font-size: 96px;
    font-weight: 700;
    position: absolute;
    left: 120px;
    top: 492px;
    width: 174px;
    height: 80px;
}

.chesse {
    color: #000000;
    text-align: left;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 139px;
    top: 601px;
    width: 197px;
    height: 56px;
}

.burger {
    color: #000000;
    text-align: left;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 139px;
    top: 638px;
    width: 197px;
    height: 56px;
}

.polygon-1 {
    width: 65px;
    height: 32px;
    position: absolute;
    left: 385px;
    top: 564px;
    transform: translate(-24px, 4.35px);
    ;
    overflow: visible;
}

.rectangle-11 {
    background: #c94c05;
    width: 390px;
    height: 34px;
    position: absolute;
    left: 1px;
    top: 766px;
}

.image {
    width: 390px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 796px;
    object-fit: cover;
}

.ladrillos-fondo-2 {
    border-radius: 0px 0px 25px 25px;
    width: 392px;
    height: 436px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.35);
    object-fit: cover;
}

.burgerneon-sinfondo-3 {
    width: 317px;
    height: 218px;
    position: absolute;
    left: 120px;
    top: -10px;
    object-fit: cover;
}

.burger-pig-3 {
    width: 348px;
    height: 224px;
    position: absolute;
    left: 21px;
    top: 122px;
    object-fit: cover;
}

.rectangle-12 {
    background: #f42001;
    border-radius: 20px;
    width: 133px;
    height: 41px;
    position: absolute;
    left: 120px;
    top: 346px;
}

.personaliza-tu-burger {
    color: #fffbfb;
    text-align: center;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 130px;
    top: 346px;
    width: 111px;
    height: 17px;
}
#estilos_boton_claro{
    background-color: #E7D371;
    border: none;
    margin-top: 5%;
}
#boton_rojo{
    margin-top: 5%;
}



.star-rating {
    direction: rtl;
    display: inline-flex;
  }
  .star-rating input[type="radio"] {
    display: none;
  }
  .star-rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  .star-rating input[type="radio"]:checked ~ label {
    color: #ffc107;
  }
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #ffc107;
  }


#boton_aceptar{
    background-color: #E7D371;
    border: none;
  
  }

#forma_pago_mas_elejido{
    color: rgb(23, 102, 23);
}
#estilo_boton{
    background-color: #E7D371;
    border: none;
    
}

#qr{
    padding: 20%;
}
.boton_volver{
    background-color: #E7D371;
    border: none;
}
/* From Uiverse.io by Cksunandh */ 
.tooltip-container {
    color: #ffffff;
    --background: #014E00;
    position: relative;
    background: var(--background);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    padding: 0.7em 1.8em;
    border-radius: 50px;
  }
  
  .tooltip {
    background-color: #014E00;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 50px;
  }
  
  .tooltip::before {
    background-color: #014E00;
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
  }
  
  .tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }



.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #ffe97d;
    box-shadow: 15px 15px 30px #f42001,
                -15px -15px 30px #f42001;
   }

#card_transferencia{

    margin: 0 auto;
} 
#palabra_atencion{
    font-size: 20px;
    color: #ff0707;
    align-items: center;
    justify-content: center;
    display: flex;
}  

#texto_atencion{
    font-size: 18px;
    color: #000000; 
    justify-content: center;
    align-items: center;
    display: flex;
}
/* From Uiverse.io by reshades */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #014e01;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid #e40808;
    width: 17em;
    height: 12em;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .form p {
    color: #fff;
    font-weight: bolder;
  }
  
  .inp {
    margin-left: auto;
    margin-right: auto;
    white-space: 4px;
  }
  
  .input + .input {
    margin-left: 0.5em
  }
  
  .input {
    color: #fff;
    height: 2em;
    width: 2em;
    float: left;
    text-align: center;
    background: #ffe97d;
    outline: none;
    border: 1px #f42001 solid;
    border-radius: 5px;
    transition: all 0.6s ease;
    font-size: larger;
  }
  
  .input:focus {
    outline: none;
    border: 1px #fff solid;
  }
  
  .input:not(:placeholder-shown) {
    background-color: #fff;
    width: 1em;
    height: 1em
  }
  
  .form button {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe97d;
    color: #fff;
    width: 8.5em;
    height: 2.3em;
    border: #fff 0.1em solid;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  
  .form button:hover {
    background-color: #fff;
    color: #000
  }
#formulario{
    margin: auto;
    margin-top: 20%;
}

/* From Uiverse.io by Cksunandh */ 
.tooltip-container {
  color: #ffffff;
  --background: #014E00;
  position: relative;
  background: var(--background);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  padding: 0.7em 1.8em;
  border-radius: 50px;
}

.tooltip {
  background-color: #014E00;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 50px;
}

.tooltip::before {
  background-color: #014E00;
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.tooltip-container:hover .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}
 
/* From Uiverse.io by Maximinodotpy */ 
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;

}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

#ingresa_monto{
display: flex;
justify-content: center;
align-items: center;
}

/* From Uiverse.io by 3bdel3ziz-T */ 
.form {
  background: #0c0f14;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  position: relative;
  border-radius: 25px;
}
.form .label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
.form .label:has(input:focus) .title {
  top: 0;
  left: 0;
  color: #d17842;
}
.form .label .title {
  padding: 0 10px;
  transition: all 300ms;
  font-size: 12px;
  color: #8b8e98;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  top: 14px;
  position: relative;
  left: 15px;
  background: #e00f14;
}
.form .input-field {
  width: auto;
  height: 50px;
  text-indent: 15px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid #f42001;
  transition: all 0.3s;
  caret-color: f42001;
  color: #aeaeae;
}

.form .input-field:hover {
  border-color: rgba(209, 121, 66, 0.5);
}

.form .input-field:focus {
  border-color: #ac6c44;
}
.form .split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.form .split label {
  width: 130px;
}
.form .checkout-btn {
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 25px;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  fill: #fff;
  color: #fff;
  border: 2px solid transparent;
  background: #ffe97d;
  transition: all 200ms;
}
.form .checkout-btn:active {
  scale: 0.95;
}


#pagos_tarjeta{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* From Uiverse.io by cohencoo */ 
.custom-loader {
  width: 70px;
  height: 70px;
  background: #f42001;
  border-radius: 50px;
  -webkit-mask: radial-gradient(circle 31px at 50% calc(100% + 13px),#ce0cae 95%,#0000) top 4px left 50%,
    radial-gradient(circle 31px,#000 95%,#0000) center,
    radial-gradient(circle 31px at 50% -13px,#000 95%,#0000) bottom 4px left 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu10 1.5s infinite;
}

@keyframes cu10 {
  0% {
    -webkit-mask-size: 0    18px,0    18px,0    18px,auto
  }

  16.67% {
    -webkit-mask-size: 100% 18px,0    18px,0    18px,auto
  }

  33.33% {
    -webkit-mask-size: 100% 18px,100% 18px,0    18px,auto
  }

  50% {
    -webkit-mask-size: 100% 18px,100% 18px,100% 18px,auto
  }

  66.67% {
    -webkit-mask-size: 0    18px,100% 18px,100% 18px,auto
  }

  83.33% {
    -webkit-mask-size: 0    18px,0    18px,100% 18px,auto
  }

  100% {
    -webkit-mask-size: 0    18px,0    18px,0    18px,auto
  }
}

#Hamburguesa_loading{
  padding: 1%;
}
/* From Uiverse.io by SouravBandyopadhyay */ 
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 16rem;
  height: 5rem;
  background: #f42001;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #f42001
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #ffe97d;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(#f42001);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

