body {
    background-color: #f8f9fa; /* Color de fondo */
}

.card {
    border: 1px solid #dee2e6; /* Borde de las tarjetas */
}
.container{
    padding-left:0% ;
    padding-right: 0%;
    background-color: #FFE97D;
}
.i-phone-13-14-3,
.i-phone-13-14-3 * {
    box-sizing: border-box;
}

.i-phone-13-14-3 {
    background: #ffffff;
    height: 844px;
    position: relative;
    overflow: hidden;
}

.rectangle-9 {
    background: #ffe97d;
    width: 390px;
    height: 454px;
    position: absolute;
    left: 0px;
    top: 390px;
}

.rectangle-10 {
    background: #fff2af;
    border-radius: 35px;
    width: 298px;
    height: 198px;
    position: absolute;
    left: 50px;
    top: 502px;
}

.promos {
    color: #000000;
    text-align: left;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 21px;
    top: 446px;
    width: 197px;
    height: 56px;
}

._2-x-1 {
    color: #ff0707;
    text-align: left;
    font-family: 'IstokWeb-Bold', sans-serif;
    font-size: 96px;
    font-weight: 700;
    position: absolute;
    left: 120px;
    top: 492px;
    width: 174px;
    height: 80px;
}

.chesse {
    color: #000000;
    text-align: left;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 139px;
    top: 601px;
    width: 197px;
    height: 56px;
}

.burger {
    color: #000000;
    text-align: left;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 139px;
    top: 638px;
    width: 197px;
    height: 56px;
}

.polygon-1 {
    width: 65px;
    height: 32px;
    position: absolute;
    left: 385px;
    top: 564px;
    transform: translate(-24px, 4.35px);
    ;
    overflow: visible;
}

.rectangle-11 {
    background: #c94c05;
    width: 390px;
    height: 34px;
    position: absolute;
    left: 1px;
    top: 766px;
}

.image {
    width: 390px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 796px;
    object-fit: cover;
}

.ladrillos-fondo-2 {
    border-radius: 0px 0px 25px 25px;
    width: 392px;
    height: 436px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.35);
    object-fit: cover;
}

.burgerneon-sinfondo-3 {
    width: 317px;
    height: 218px;
    position: absolute;
    left: 120px;
    top: -10px;
    object-fit: cover;
}

.burger-pig-3 {
    width: 348px;
    height: 224px;
    position: absolute;
    left: 21px;
    top: 122px;
    object-fit: cover;
}

.rectangle-12 {
    background: #f42001;
    border-radius: 20px;
    width: 133px;
    height: 41px;
    position: absolute;
    left: 120px;
    top: 346px;
}

.personaliza-tu-burger {
    color: #fffbfb;
    text-align: center;
    font-family: 'IstokWeb-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 130px;
    top: 346px;
    width: 111px;
    height: 17px;
}
