/* Estilos para el modal de confirmaci칩n */
.modal {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffeb99;
  /* Color amarillo claro */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

.modal-content p {
  font-size: 1.2em;
  color: #333;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-secondary {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.btn-primary {
  background-color: #e63946;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffeb3b;
  /* Fondo amarillo */
  padding: 10px;
  border-radius: 5px;
}

#addressInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  flex: 1;
  /* Para que el input ocupe todo el espacio posible */
}

.add-address-btn {
  background-color: #ffeb3b;
  /* Color rojo */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
}

.add-address-btn:hover {
  background-color: #ffeb3b;
  /* Tono m치s oscuro en hover */
}

.text-style-modal-text {
  font-family: 'Comic Sans MS', 'Caveat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.address-section {
  padding: 10px;
}

.address-item {
  background-color: #ffe97d;
  /* Fondo amarillo */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accept-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1em;
}

.accept-button:hover {
  background-color: #e64545;
  /* Tono m치s oscuro en hover */
}

.back-button {
  background-color: rgba(255, 255, 255, 0.3);
  /* Fondo semi-transparente */
  color: #6d6d6d;
  /* Color de texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  /* Bordes redondeados */
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
  transition: background-color 0.3s;
}

.back-button:hover {
  color: #b8b8b8;
  background-color: rgba(255, 255, 255, 0.4);
  /* Fondo un poco m치s claro en hover */
}